<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/taekwondo-logo.png" class="logo-nav" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Noticias <i class="bi bi-newspaper"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Eventos <i class="bi bi-calendar"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Nosotros <i class="bi bi-building"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Galería <i class="bi bi-images"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contacto <i class="bi bi-phone"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cultura ITF <i class="bi bi-info-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Historia</a></li>
            <li><a class="dropdown-item" href="#">Material de descarga</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>